*{
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.background{
	background-image: url('../img/background.png');
	background-repeat: no-repeat, repeat;
	position: absolute;
	background-size: cover;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    opacity: 0.1;
    z-index: -2;
}

.backgroundWhite{
	background-color: white;
	background-repeat: no-repeat, repeat;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	background-size: cover;
    height:100%;
    opacity: 1;
    z-index: -1;
}

h1{
	font-weight: 550;
}

.red{
	color: #6d0a0a;
}

nav{
	background-color: #ff0000;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
}

li {
  float: left;
  width: 25%;
}

.nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.navbar-toggler{
	background-color: white;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:15px;
   width:100%;
   font-size: 10px;
   opacity: 0.5;
}