{% extends 'layout.twig' %}

{% block content %}

	<style type="text/css">
		.btn-block + .btn-block {
			margin: 0px;
		}
	</style>

	<div class="col-12 ml-5 mt-3 red">CONTACTO</div>
	<div class="row justify-content-center mt-4">
		<div class="contact col-9">
			<div class="contactData row">
				<a href="#" class="btn btn-block btn-social btn-phone col">
			    <span class="fa fa-phone"></span> 626 88 05 73
			  </a>

		      <a target="_blank" href="https://es-es.facebook.com/pages/category/Martial-Arts-School/Mampogym-Zorrotzaurre-Boxing-Club-432062870140923/" class="btn btn-block btn-social btn-facebook col-sm col-12">
			    <span class="fa fa-facebook"></span> Facebook
			  </a>

			  <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=mampogym@gmail.com" class="btn btn-block btn-social btn-envelope col">
			    <span class="fa fa-envelope"></span> Correo
			  </a>

			  <div class="w-100"></div>
			  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1927155255653!2d-2.9538929850075486!3d43.26833828525056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e513d97b2171f%3A0xfacf5749c6cda857!2sMampoGym!5e0!3m2!1ses!2ses!4v1551174204862" height="200" frameborder="0" style="border:0" class="col-12 mt-4 mb-3" allowfullscreen></iframe>

			  <p class="col-12" align="center">GENERAL ERASO 1 2ªPLANTA 48014 Bilbao</p>

			</div>
	  </div>
	</div>
{% endblock %}
