	{% extends 'layout.twig' %}

	{% block content %}
		<style type="text/css">
			.card img {
			  object-fit:cover;
			  object-position: center;
			  width: 100%;
			  max-height: 250px;
			}
		</style>

		{% if hash is defined %}
		<div class="row justify-content-center">
			<div class="col-10 ml-5 mr-5 mt-3 red">CREAR</div>
			<form method="POST" action="index.php?controller=Evento&action=insertEvento">
			<div class="card m-3" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">
			    	<small>Nombre:</small>
			    	<input type="text" name="nombre">
			    </h5>
			    <p class="card-text small">
			    	<big>Lugar:</big>
			    	<input type="text" name="lugar">
			    	<div class="w-100"></div>
			    	Fecha:
			    	<input type="text" name="fecha">
			    </p>
			  </div>
			  <img class="card-img-top" src="{{evento.foto}}" alt="Card image cap">
			  	<button type="submit" class="btn btn-block btn-social btn-envelope btn-info">
				  <span class="fa fa-plus"> Crear</span>
				</button>
			</div>
			</form>
		</div>
		{% else %}
				INICIE SESIÓN COMO ADMINISTRADOR
		{% endif %}
	{% endblock %}
