	{% extends 'layout.twig' %}

	{% block content %}
		<style type="text/css">
			.card img {
			  object-fit:cover;
			  object-position: center;
			  width: 100%;
			  max-height: 250px;
			}
		</style>

		{% if hash is defined %}
		<div class="row justify-content-center">
			<div class="col-10 ml-5 mr-5 mt-3 red"><a class="float-left" href="index.php?controller=Evento&action=runEventos"><span class="fa fa-arrow-left"> Volver</span></a></div>
			<form method="POST" id="formInsertarEvento" action="index.php?controller=Evento&action=insertEvento" enctype="multipart/form-data">
			<div class="card m-3" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">
			    	<small>Nombre:</small>
			    	<input type="text" name="nombre" maxlength="19" class="form-control" required>
			    </h5>
			    <p class="card-text small">
			    	<big>Lugar:</big>
			    	<input type="text" name="lugar" maxlength="28" class="form-control" required>
			    	<div class="w-100"></div>
			    	Fecha:
			    	<input type="date" class="form-control" name="fecha" required>
			    </p>
			  </div>
			  Imagen:
			  <input type="file" name="archive" required>
			  	<button type="submit" class="btn btn-block btn-social btn-envelope btn-info">
				  <span class="fa fa-plus"> Crear</span>
				</button>
			</div>
			</form>
		</div>
		{% else %}
				INICIE SESIÓN COMO ADMINISTRADOR
		{% endif %}
	{% endblock %}
