<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="js/main.js"></script>
	<link rel="icon" type="image/ico" href="img/server/icon.ico">
	<link rel="stylesheet" type="text/css" href="./view/css/bootstrap.css">
	<title></title>
	<link rel="stylesheet" type="text/css" href="view/css/layout.css">
	{% block style %}
	{% endblock %}
</head>
<body>
	<div class="background"></div>
	<div class="backgroundWhite col-sm-12 col-lg-6"></div>
	<div class="container-fluid col-sm-12 col-lg-6">
		<div class="header row justify-content-center"><h1>MAMPO<span class="red">GYM</span></h1></div>
		<div class="nav row">
			<nav class="navbar col-12 navbar-expand-sm">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			 <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
			  	<li class="nav-item">
			      <a class="nav-link" href="index.php">MAMPOGYM</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="index.php?controller=Evento&action=runEventos">EVENTOS</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="index.php?controller=Profile&action=runProfile">EQUIPO</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="index.php?controller=Profile&action=runProfile">CONTACTO</a>
			    </li>
			  </ul>
			</div>
			</nav>
		</div>
		<div class="content row justify-content-center">
			<div class="contentData col-12">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<div class="footer row justify-content-center"><p>Rafael Hernández</p></div>
		
	</div>

	{# SCRIPT #}
	<script type="text/javascript" src="./view/js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="./view/js/bootstrap.js"></script>
</body>
</html>